/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滑块颜色 */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #b2b2b2;
}


::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: #fafafa;
}

/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0px;
  width: 0px;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
::-webkit-scrollbar-corner {
  background-color: transparent;
  height: 0px;
  width: 0px;
}

